@font-face 
{
    font-family: 'PP Neue Machina';
    src: url('/public/assets/fonts/PPNeueMachina-Regular.woff') format('woff'),
        url('/public/assets/fonts/PPNeueMachina-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root 
{
    --main-bg-color: #010101;
    --secondary-color: #00FF8C;
    --third-color: #FF00AE;
    --font-size: 2vw;
    --border-width: 1vh;
    --border-radius: 10px;
    --margin: 1vw;
    font-family: 'PP Neue Machina', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--secondary-color);

}

body
{
    margin: 0;
}


button
{
    background-color: var(--third-color);
    font-family: 'PP Neue Machina';
    color: var(--main-bg-color);
    border: none;
    border-radius: var(--border-radius);
    padding: 1vh;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;

}

button:hover
{
    background-color: var(--secondary-color);
    color: var(--main-bg-color);
    transform: scale(1.1);
}
